mixin bookCard(book)
    li(data-category=book.level).gallery__item
        a(href=book.url style=`background-image: url('../${book.cover}')`).gallery__itemImg
        .gallery__itemContent
            a(href=book.url): h2.gallery__itemTitle #{book.title}
            a(href=book.authorUrl): h3.gallery__itemSubtitle #{book.author}
            p.gallery__itemCategory #{book.level}
            p.gallery__itemDescr #{book.info}
